profiles {
    // docker {
    //     process.executor = 'local'
    //     docker.enabled = true
    // }

    standard {
        // docker {
        //     enabled = true
        //     // runOptions = "-v ${projectDir}/tools/msfragger/content/MSFragger-4.3.jar:/opt/MSFragger.jar"
        //     runOptions = "-v C:/Users/Bulat/Desktop/nextflow/tools/msfragger/content/MSFragger-4.3.jar:/opt/MSFragger.jar"
        // }

        process {
            executor = 'local'
            cpus = 12
            memory = '18 GB'

            withLabel: transdecoder {
                container = 'trinityrnaseq/transdecoder:latest'
            }
            withLabel: cdhit { 
                container = 'biocontainers/cd-hit:v4.8.1-1-deb_cv1'
            }
        }
            
        docker.enabled = true
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
}