profiles {
    // docker {
    //     process.executor = 'local'
    //     docker.enabled = true
    // }

    standard {
        process {
            executor = 'local'
            cpus = 4
            memory = '5 GB'

            withLabel: transdecoder {
                container = 'trinityrnaseq/transdecoder:latest'
            }
            withLabel: cdhit { 
                container = 'biocontainers/cd-hit:v4.8.1-1-deb_cv1'
            }
            withLabel: msfragger {
                container = 'fcyucn/fragpipe:latest'
            }
        }
            
        docker.enabled = true
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
}