profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    standard {
        process {
            executor = 'local'
            cpus = 4
            memory = '5 GB'

            withLabel: transdecoder {
                container = 'biocontainers/transdecoder:v5.5.0-1-deb_cv1'
            }
            withLabel: cdhit { 
                container = 'biocontainers/cd-hit:v4.8.1-1-deb_cv1'
            }
            withLabel: msfragger {
                container = 'fcyucn/fragpipe:latest'
            }
        }
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
}